<%- include('./partials/header') %> 
<head>
    <link rel="stylesheet" href="/public/css/error.css">
</head>
<main>
    <h1><span class="blue">OO</span>PS!</h1>
    <h6>We could not find the page you are looking for</h6>
    Error Code: 404
</main>
<%- include('./partials/footer') %> 